* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
#header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url("image/donation2.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.topBar h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.3;
}
.topBar p {
  color: #fff;
  font-size: 16px;
  padding: 20px 0;
}
.topBar button,
#donate-section button {
  background-color: tomato;
  border: none;
  outline: none;
  padding: 15px 20px;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 15px;
  cursor: pointer;
}
/* /////////////donate-money start///////////// */
#donate-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
  text-align: center;
}
#donate-section h1 {
  font-size: 37px;
  font-weight: 600px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.885);
}
#donate-section p {
  padding: 20px 0;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.606);
  line-height: 1.5;
  font-weight: 400;
}
.donate-amonunt {
  display: flex;
  padding: 60px;
}
.donate-amonunt span {
  font-size: 30px;
  font-weight: 600;
  margin-left: 50px;
  color: rgba(0, 0, 0, 0.573);
}
#donate-section input {
  border: none;
  outline: none;
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.352);
  margin: 30px 0px 15px 0;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
}
#donate-section::placeholder {
  text-align: center;
  color: rgba(0, 0, 0, 0.392);
  font-weight: 500;
}
.box .money-box {
  border: 2px solid tomato;
  padding: 38px 25px;
  border-radius: 4px;
  background-color: rgba(255, 99, 71, 0.16);
  color: tomato;
}
/* ////////////donate-plan start/////////////////// */
#donate-plan {
  text-align: center;
  padding-bottom: 40px;
}
#donate-plan h1 {
  font-size: 37px;
  font-weight: 600px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.885);
  text-transform: capitalize;
}
#donate-plan p {
  padding: 20px 0;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.606);
  line-height: 1.5;
  font-weight: 400;
}
.donate-box {
  display: flex;
  padding: 50px 100px;
}
.donate-box .box {
  background-color: rgba(255, 99, 71, 0.255);
  padding: 40px;
  text-align: left;
  margin-left: 20px;
  border-radius: 3px;
}
.donate-box .box img {
  width: 70px;
}
.donate-box .box h2 {
  font-size: 24px;
  font-weight: 500;
  padding-top: 10px;
}
.donate-box .box2 {
  background-color: rgba(23, 8, 232, 0.19);
}
.donate-box .box3 {
  background-color: rgba(17, 203, 17, 0.19);
}

/* ////////////donate-banner start//////////////  */

#banner {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 400px;
}
.banner-box {
  width: 50%;
}
.banner-box img {
  width: 100%;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #333;
  padding: 30px 50px;
}
.banner-content h1 {
  color: #fff;
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 500;
}
.banner-content h4 {
  color: tomato;
  font-weight: 400;
  font-style: italic;
  padding: 10px 0;
}
.banner-content p {
  color: #fff;
  line-height: 1.5;
  margin-top: 15px;
}
.banner-content button {
  border: 2px solid tomato;
  padding: 10px 25px;
  outline: none;
  font-size: 15px;
  background: transparent;
  border-radius: 30px;
  margin-top: 40px;
  text-transform: capitalize;
  cursor: pointer;
  color: #fff;
}
/* /////////////////signUp start////////////////// */
#signUp {
  text-align: center;
  padding: 30px 0 100px 0 ;
}
#signUp h1 {
  font-size: 37px;
  font-weight: 600px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.885);
  text-transform: capitalize;
  padding-top: 40px;
}
#signUp p {
  padding: 20px 0 50px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.606);
  line-height: 1.5;
  font-weight: 400;
}
.Subscribe {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  margin: 0px 230px;
  background-color: rgba(255, 176, 5, 0.258);
}
.Subscribe input {
  width: 30%;
  border: 1px solid rgb(217, 217, 217);
  outline: none;
  padding: 12px 10px;
  background-color: rgba(186, 182, 182, 0.644);
  border-radius: 47px 0 0;
  border-radius: 5px 0 0 5px;
  font-size: 15px;
}
.Subscribe::placeholder {
  text-align: left;
}
.Subscribe button {
  font-size: 15px;
  outline: none;
  border: none;
  padding: 5px 15px;
  background-color: tomato;
  cursor: pointer;
  color: #fff;
}
/* /////////////////footer start//////////// */
#footer {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 50px 0;
}
#footer h1 {
  font-size: 32px;
  font-family: cursive;
  padding: 0px 0 15px;
}
